In [2]:
from scipy.io import loadmat
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.neighbors import KNeighborsClassifier as KNN

In [ ]:
data = loadmat("subject_1.mat")
subject = data["subject"]
emg = data["emg"]
stimulus = data["stimulus"]
stimulus = np.transpose(stimulus)

stimulus.shape

(16782, 1)

In [8]:
# Create a DataFrame from the emg array
df_1 = pd.DataFrame(emg)

# Add the subject and stimulus columns to the DataFrame
df_1['stimulus'] = stimulus[:, 0]

df_1.head()

,0,1,2,3,4,5,6,7,8,9,stimulus
0,-0.023489,0.198078,-0.017453,-0.006613,-0.101909,-0.037711,0.029349,-0.052670,0.077615,0.075996,0
1,-0.078124,0.172256,0.034426,0.001847,-0.120847,-0.068377,0.026618,-0.056334,0.125658,0.089863,0
2,-0.129213,0.138056,0.077481,0.001475,-0.131304,-0.087772,0.009211,-0.059509,0.153696,0.091816,0
3,-0.166825,0.102920,0.098318,-0.008269,-0.130015,-0.096571,-0.027021,-0.066615,0.157365,0.070016,0
4,-0.183610,0.072522,0.087221,-0.026295,-0.114900,-0.096324,-0.039687,-0.064432,0.138943,0.021894,0